/* Write your CSS here */
h1 {
  color: rgb(219, 109, 90);
}
.page {
  background-color: rgb(219, 109, 90);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.sampeTodos_container {
  background-color: white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
